.select {
    position: relative;

    .form-control[readonly] {
        background-color: unset;

        &:focus {
            box-shadow: none;
        }
    }

    i {
        position: absolute;
        right: 10px;
        top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        width: 25px;
        height: 25px;
        border-radius: 12px;

        &:hover {
            background: #e7e5e5;
            cursor: pointer;
        }

        &.clear {
            right: 30px;
            font-size: 18px;

            &:hover {
                background: #e7e5e5;
                cursor: pointer;
            }
        }
    }

    .options-wrapper {
        background: #fff;
        position: absolute;
        z-index: 100;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 0 3px #ddd;

        .options {
            max-height: 180px;
            overflow-y: scroll;
            width: 100%;

            .item {
                padding: 10px;
                cursor: pointer;

                &:hover {
                    background: #fff;
                }
            }
        }

        input {
            cursor: text;
            width: 85%;
            height: 40px;
            border-radius: 8px;
            border-color: #ddd;
            padding: 5px;
            margin-top: 5px;

            &:focus {
                box-shadow: none;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }
}
